{% extends "network/layout.html" %}

{% block body %}
    
    <div class="container">
        <div class="comment">
            <div class="d-flex flex-row align-items-center flexgap margbot5">
                <p class="profileName"> {{ guest }} </p>
                {% if user.is_authenticated %}
                    {% if statusFollow %}
                        <button onclick="subscribeFunction(this)" title="unsubscribe" class="subscribe" type="submit" data-author="{{guest}}" data-substatus="true" >
                            <img src="/static/network/black.png" class="imagepad" width="18px" height="18px">
                        </button>
                    {% elif request.user.username == guest %}
                        
                    {% else %}
                        <button onclick="subscribeFunction(this)" title="subscribe"  class="subscribe" type="submit" data-author="{{guest}}" data-substatus="false" >
                            <img src="/static/network/white.png" class="imagepad" width="18px" height="18px">
                        </button>
                    {% endif %}
                {% else %}
                    <img src="/static/network/white.png" class="imagepad" width="18px" height="18px">
                {% endif %}
            </div>
            <p>Followers: <span class="changefw">{{ followersCount }}</span></p>
            <p>Following: {{ followingCount }}</p>
        </div>
        {% for post in page_obj %}
            <div class="comment comment-{{post.id}}">
                <div class="d-flex flex-row align-items-center flexgap margbot5">
                    <a class="linkForUser frame" href="{% url 'profile' post.author %}"> {{ post.author }} </a>
                    {% if user.is_authenticated %}
                        {% if statusFollow %}
                            <button onclick="subscribeFunction(this)" title="unsubscribe" class="subscribe" type="submit" data-author="{{post.author}}" data-substatus="true" >
                                <img src="/static/network/black.png" class="imagepad" width="18px" height="18px">
                            </button>
                        {% elif request.user == post.author %}
                            
                        {% else %}
                            <button onclick="subscribeFunction(this)" title="subscribe"  class="subscribe" type="submit" data-author="{{post.author}}" data-substatus="false" >
                                <img src="/static/network/white.png" class="imagepad" width="18px" height="18px">
                            </button>
                        {% endif %}
                    {% else %}
                        <img src="/static/network/white.png" class="imagepad" width="18px" height="18px">
                    {% endif %}
                </div>
                <div class="divPostArea-{{post.id}}">
                    <p class="postArea-{{post.id}}">
                        {{ post.textarea }}
                    </p>
                </div>
                <span class="frame floatRight">{{ post.timestamp|date:'H:i, d.m.Y'}}</span>
                <div class="likediv">
                    {% if user.is_authenticated %}
                        {% if request.user in post.likes.all %}
                            <button onclick="likeFunction(this)" class="like" data-pressed="true" data-post_id="{{post.id}}">
                                <svg width = "24" height = "24">
                                <g> <path d='M3,11h3v10H3V11z M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11v10h10.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z'></path>
                                </g> </svg>
                            </button>
                        {% else %}
                            <button onclick="likeFunction(this)" class="like" data-pressed="false" data-post_id="{{post.id}}">
                                <svg width = "24" height = "24">
                                <g> <path d="M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11H3v10h4h1h9.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z M7,20H4v-8h3V20z M19.98,13.17l-1.34,6 C18.54,19.65,18.03,20,17.43,20H8v-8.61l5.6-6.06C13.79,5.12,14.08,5,14.38,5c0.26,0,0.5,0.11,0.63,0.3 c0.07,0.1,0.15,0.26,0.09,0.47l-1.52,4.94L13.18,12h1.35h4.23c0.41,0,0.8,0.17,1.03,0.46C19.92,12.61,20.05,12.86,19.98,13.17z"></path>
                                </g> </svg>
                            </button>
                        {% endif %}
                    {% else %}
                        <svg width = "24" height = "24">
                        <g> <path d="M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11H3v10h4h1h9.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z M7,20H4v-8h3V20z M19.98,13.17l-1.34,6 C18.54,19.65,18.03,20,17.43,20H8v-8.61l5.6-6.06C13.79,5.12,14.08,5,14.38,5c0.26,0,0.5,0.11,0.63,0.3 c0.07,0.1,0.15,0.26,0.09,0.47l-1.52,4.94L13.18,12h1.35h4.23c0.41,0,0.8,0.17,1.03,0.46C19.92,12.61,20.05,12.86,19.98,13.17z"></path>
                        </g> </svg>  
                    {% endif %}

                    <span class="likeCount-{{post.id}}">
                        {{ post.likes.all|length }}
                    </span>

                    {% if request.user == post.author %}
                        <div class="divBut-{{post.id}}">
                            <button class="editButton" onclick="editPost(this)" data-post_id ="{{post.id}}">edit</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="comment">
                <p class="centerText">You haven't got posts yet</p>
            </div>
        {% endfor %}
    </div>

    <nav class="pagnav">
        <ul class="pagination justify-content-center">
            {% if page_obj.number == 1 %}
                <li class="page-item disabled"><a class="page-link" href="?page=1">First</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            {% endif %}

            {% if page_obj.paginator.num_pages < 4 %}
                {% for i in range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if page_obj.number == 1 %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}"> {{ page_obj.number }} </a></li>
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'2' }}">{{ page_obj.number|add:'2' }}</a></li>
                    {% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
                        {% if page_obj.number|add:'3' == page_obj.paginator.num_pages %}
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'3' }}">...</a></li>
                        {% else %} 
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'4' }}">...</a></li>
                        {% endif %}
                    {% endif %}    
                {% elif page_obj.number == page_obj.paginator.num_pages %}
                    {% if page_obj.number|add:'-2' > 0  %}
                        {% if page_obj.number|add:'-3' == 0 %}
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}">...</a></li>
                        {% else %} 
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">...</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}"> {{ page_obj.number|add:'-2' }} </a></li>
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% else %}
                    {% if page_obj.number|add:'-2' > 0  %}
                        {% if page_obj.number|add:'-3' == 0 %}
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}">...</a></li>
                        {% else %}
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">...</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'-1' }}"> {{ page_obj.number|add:'-1' }} </a></li>
                    <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'+1' }}">{{ page_obj.number|add:'1' }}</a></li>
                    {% if page_obj.number|add:'1' < page_obj.paginator.num_pages %}
                        {% if page_obj.number|add:'2' == page_obj.paginator.num_pages %}
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'2' }}">...</a></li>
                        {% else %}
                            <li class="page-item "><a class="page-link" href="?page={{ page_obj.number|add:'3' }}">...</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if page_obj.number == page_obj.paginator.num_pages %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}