body {
    background-color: rgb(184, 179, 179);
    background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
    user-select: none;
}

p {
    margin: 0;
    user-select: text;
    word-break: break-all;
}

.postform {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.postbutton {
    width: 70px;
    align-self: end;
}

.postarea {
    border-radius: 4px;
    margin-bottom: 5px;
}

.comment {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #d6d6d6a9;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.frame {
    width: fit-content;
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
}

.linkForUser {
    color: rgb(24, 24, 24);
    font-style: italic;
    font-weight: bold;
}

.linkForUser:hover {
    color: #138496;
}

.like, .subscribe, .editButton, .confirmButton {
    border: 0;
    padding: 0;
    background: none;
}

.like:focus, .subscribe:focus, .editButton:focus, .confirmButton:focus {
    border: 0;
    outline: none;
}

.editButton, .confirmButton {
    margin-left: 15px;
    font-style: italic;
}

.editButton:hover, .confirmButton:hover {
    text-decoration: underline;
    color: #1ea0b4;
}

.likediv {
    display: flex;
    align-items: flex-end;
}

.imagepad {
    margin-bottom: 2px;
}

.margbot5 {
    margin-bottom: 5px;;
}

.flexgap {
    gap: 15px;
}

.editTextArea {
    width: 100%;
    border-radius: 4px;
}

.profileName {
    text-decoration: underline;
    font-size: 25px;
    margin-right: 10px;
}

.centerText {
    text-align: center;
}

/* for registration */
.cont {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.regmaindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 20px 50px;
    background-color: white;
    border-radius: 10px;
}

.mainfield {
    display: block;
    text-align: center;
    width: 100%;
}

.hregister {
    margin-bottom: 20px;
}

.regbut {
    width: 100%;
    margin-bottom: 20px;
}

.spanlink{
    color: grey;
}

.group {
    position: relative;
}

.group > label {
    position: absolute;
    left: 15px;
    top: 10px;
    pointer-events: none;
    color: grey;
    transition: all .2s;
}

.field {
    border: 1px solid transparent;
    width: 100%;
    margin-bottom: 18px;
    padding: 6px 12px;
    border-radius: 0.25rem;
    height: 42px;
}

.field:focus {
    box-shadow: none;
    border: 1px solid transparent;
    outline: none;
}

.field:focus + label {
    top: -12px;
    left: 10px;
    color:#007bff;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 4px;
}

.groupfilled > label {
    top: -12px;
    left: 10px;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 4px;
}

.divforline {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    pointer-events: none;
    border-radius: 0.25rem;
}

.divforlineBorder {
    border: 1px solid #8b8b8b;
}

.leftdiv {
    width: 8px;
}

.otherdiv {
    flex-grow: 1;
}

.leftdivBorders {
    border-style: solid;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
}

.otherdivBorders {
    border-style: solid;
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

.middledivUsername {
    width: 72px;
}

.middledivPassword {
    width: 68px;
}

.middledivEmail {
    width: 96.5px;
}

.middledivConfirmation {
    width: 121.2px;
}

.middledivBordersUsername, .middledivBordersPassword, .middledivBordersEmail, .middledivBordersConfirmation {
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.BorderColorGreen {
    border-width: 2px;
    border-color: #007bff;
}

.BorderColorGrey {
    border-width: 1px;
    border-color: grey;
}
